#Data Types and Structures Questions

In [2]:
Therory="""Here are the answers to your questions:

1. What are data structures, and why are they important?
   Data structures are ways of organizing and storing data efficiently.
   They are important because they help in optimizing operations such as searching, sorting, inserting, and deleting data, making programs more efficient and scalable.

2. Explain the difference between mutable and immutable data types with examples.
   1.Mutable data types can be changed after creation.
  Example: `list`, `dictionary`, `set`.

  2.Immutable data types cannot be changed after creation.
   Example: `tuple`, `string`, `int`.



3. What are the main differences between lists and tuples in Python?
   Lists* are mutable, tuples are immutable.
   1.Lists have more built-in methods, tuples have fewer.
   2.Tuples are generally faster than lists due to immutability.

4. Describe how dictionaries store data.
   Dictionaries store data in key-value pairs using a hash table, where keys are hashed to determine where their values are stored.

5. Why might you use a set instead of a list in Python?
   1.Sets do not allow duplicate values.
   2. Sets provide faster lookups compared to lists (average O(1) time complexity).

6. What is a string in Python, and how is it different from a list?
   A string is an immutable sequence of characters, whereas a list is mutable and can hold different types of data.

7. How do tuples ensure data integrity in Python?
   Since tuples are immutable, their contents cannot be changed accidentally, making them useful for storing fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   A hash table is a data structure that stores key-value pairs using a hashing function. Python’s dictionaries use hash tables for fast data retrieval.

9. Can lists contain different data types in Python?
   Yes, lists can contain multiple data types:
   Example:my_list = [1, "hello", 3.14, [1, 2, 3]]


10. Explain why strings are immutable in Python.
    Strings are immutable to ensure security, optimize memory usage, and allow efficient string operations.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Faster lookups (O(1) vs O(n) for lists).
    - Data retrieval based on unique keys instead of index positions.

12. Describe a scenario where using a tuple would be preferable over a list.
    Storing coordinates `(x, y)` or fixed configuration values where modification is not needed.

13. How do sets handle duplicate values in Python?
    Sets automatically remove duplicates when elements are added.

14. How does the `in` keyword work differently for lists and dictionaries?
    - In lists,'in' checks if a value exists.
    - In dictionaries,'in' checks if a key exists (not values).

15. Can you modify the elements of a tuple? Explain why or why not.
    No, because tuples are immutable, meaning their values cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?
    A dictionary inside another dictionary.

    student = {
        "name": "Alice",
        "grades": {"math": 90, "science": 85}
    }


17. Describe the time complexity of accessing elements in a dictionary?
    O(1) on average due to hashing, but O(n) in the worst case if many hash collisions occur.

18. In what situations are lists preferred over dictionaries?
      When order matters.
      When storing sequential data without unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    Dictionaries were unordered before Python 3.7. Now they maintain insertion order, but data is still retrieved by key, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists retrieve data by index.
    - Dictionaries retrieve data by key, making lookups faster."""

In [3]:
print(Therory)

Here are the answers to your questions:

1. What are data structures, and why are they important?
   Data structures are ways of organizing and storing data efficiently.
   They are important because they help in optimizing operations such as searching, sorting, inserting, and deleting data, making programs more efficient and scalable.

2. Explain the difference between mutable and immutable data types with examples.
   1.Mutable data types can be changed after creation.
  Example: `list`, `dictionary`, `set`.

  2.Immutable data types cannot be changed after creation.
   Example: `tuple`, `string`, `int`.



3. What are the main differences between lists and tuples in Python?
   Lists* are mutable, tuples are immutable.
   1.Lists have more built-in methods, tuples have fewer.
   2.Tuples are generally faster than lists due to immutability.

4. Describe how dictionaries store data.
   Dictionaries store data in key-value pairs using a hash table, where keys are hashed to determine where their values are stored.

5. Why might you use a set instead of a list in Python?
   1.Sets do not allow duplicate values.
   2. Sets provide faster lookups compared to lists (average O(1) time complexity).

6. What is a string in Python, and how is it different from a list?
   A string is an immutable sequence of characters, whereas a list is mutable and can hold different types of data.

7. How do tuples ensure data integrity in Python?
   Since tuples are immutable, their contents cannot be changed accidentally, making them useful for storing fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   A hash table is a data structure that stores key-value pairs using a hashing function. Python’s dictionaries use hash tables for fast data retrieval.

9. Can lists contain different data types in Python?
   Yes, lists can contain multiple data types:
   Example:my_list = [1, "hello", 3.14, [1, 2, 3]]


10. Explain why strings are immutable in Python.
    Strings are immutable to ensure security, optimize memory usage, and allow efficient string operations.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Faster lookups (O(1) vs O(n) for lists).
    - Data retrieval based on unique keys instead of index positions.

12. Describe a scenario where using a tuple would be preferable over a list.
    Storing coordinates `(x, y)` or fixed configuration values where modification is not needed.

13. How do sets handle duplicate values in Python?
    Sets automatically remove duplicates when elements are added.

14. How does the `in` keyword work differently for lists and dictionaries?
    - In lists,'in' checks if a value exists.
    - In dictionaries,'in' checks if a key exists (not values).

15. Can you modify the elements of a tuple? Explain why or why not.
    No, because tuples are immutable, meaning their values cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?
    A dictionary inside another dictionary.

    student = {
        "name": "Alice",
        "grades": {"math": 90, "science": 85}
    }


17. Describe the time complexity of accessing elements in a dictionary?
    O(1) on average due to hashing, but O(n) in the worst case if many hash collisions occur.

18. In what situations are lists preferred over dictionaries?
      When order matters.
      When storing sequential data without unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    Dictionaries were unordered before Python 3.7. Now they maintain insertion order, but data is still retrieved by key, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists retrieve data by index.
    - Dictionaries retrieve data by key, making lookups faster.

#Practical Questions

In [6]:
#DP Write a code to create a string with your name and print it?
name=input("Enter your name: ")
print(name)

name="OM Shrivastav"
name_1 ='OM SHRIVASTAV'
name_2="""OM SHRIVASTAV"""
print(name)
print(name_1)
print(name_2)

Enter your name: OM SHRIVASTAV
OM SHRIVASTAV
OM Shrivastav
OM SHRIVASTAV
OM SHRIVASTAV

In [10]:
#Write a code to find the length of the string "Hello World"
name="Hello World"
print(len(name))
name.count('Hello')

11

1

In [13]:
#Write a code to slice the first 3 characters from the string "Python Programming"
name="Python Programming"
print(name[0:3])

Pyt

In [16]:
#Write a code to convert the string "hello" to uppercase
words="hello"
print(words.upper())
#or
print(words.capitalize())

HELLO
Hello

In [17]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
words="I like apple"
print(words.replace("apple","orange"))

I like orange

In [20]:
#Write a code to create a list with numbers 1 to 5 and print it?
list1=[5,4,3,2,1]
list1.sort()
list1

[1, 2, 3, 4, 5]

In [25]:
from os import truncate
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list1=[1,2,3,4]
list1.append(10)
print(list1)
list1.sort(reverse=True)
print(list1)

[1, 2, 3, 4, 10]
[10, 4, 3, 2, 1]

In [26]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1=[1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

In [27]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1=['a','b','c','d']
list1[1]
print(list1[1])

b

In [32]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list1=[10, 20, 30, 40, 50]
list1.sort(reverse=True)
print(list1)
#or
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [33]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100,200,300)
print(t1)
print(type(t1))

(100, 200, 300)
<class 'tuple'>

In [36]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t1=('red', 'green', 'blue', 'yellow')
print(t1[-2])
#or
print(t1[+2])

blue
blue

In [38]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t1=(10, 20, 5, 15)
print(min(t1))

5

In [39]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t1=('dog', 'cat', 'rabbit')
print(t1.index('cat'))

1

In [40]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("apple","banana","kiwi")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [41]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [42]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [43]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [44]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1, 2, 3}
set2={3, 4, 5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [45]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

In [48]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"Om","age":20,"city":"Delhi"}
print(dict1)

{'name': 'Om', 'age': 20, 'city': 'Delhi'}

In [49]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict1={'name': 'John', 'age': 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [50]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict1={'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [52]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [54]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1={'name': 'Alice', 'city': 'Paris'}
if "city" in dict1:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [55]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[1,2,3,4]
print(list1)
t1=(1,2,3,4)
print(t1)
dict1={"name":"Om","age":20,"city":"Delhi"}
print(dict1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Om', 'age': 20, 'city': 'Delhi'}

In [58]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
list1=[]
for i in range(5):
    list1.append(random.randint(1,100))
list1.sort()
print(list1)

[3, 10, 47, 61, 95]

In [59]:
#Write a code to create a list with strings and print the element at the third index
list1=["apple","banana","kiwi","orange","mango"]
print(list1[3])

orange

In [60]:
#Write a code to combine two dictionaries into one and print the result
dict1={"name":"Om","age":20,"city":"Delhi"}
dict2={"name":"Shayog","age":20,"city":"pune"}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'name': 'Shayog', 'age': 20, 'city': 'pune'}

In [61]:
#Write a code to convert a list of strings into a set.
list1=["apple","banana","kiwi","orange","mango"]
set1=set(list1)
print(set1)

{'orange', 'kiwi', 'banana', 'apple', 'mango'}